<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Registrasi</title>
</head>
<body>
<div layout:fragment="content">
    <h1>PENDAFTARAN</h1>
    Halo <span th:text="${nama}">Test </span>
    <form action ="/registrasi" method="post">
        <table>
            <tr>
                <td>Nama</td>
                <td>
                    <input type="text" name="nama">
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Daftar">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>